.footer {
  background: #31646F;
  width: 100%;
  height: auto;
  color: #fff;
  border-top: 1px solid #83A2A8;
  .info_1 {
  	padding: 30px 0;
  	float: left;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      font-size: 16px; 
      transition: .5s;
      &:hover {
        text-decoration: none;
        transition: .5s;
        opacity: .7;
      }
      &.email {
      	margin-right: 40px;
      }
    }
  } 
  .info_2 {
  	  float: right;
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      font-size: 16px;
      padding: 19px 0;
      text-align: right;   	
  	.copyright {

  	}
  	.date {

  	}
  }
}

.mfp-with-zoom {
  width: 100%;
  max-width: 636px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 50px;
  z-index: 9;
  .mfp-preloader {
    display: none;
  }
  h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    color: $mainColor;
    font-size: 22px;
    font-weight: 600;
  }
  .mfp-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url(../img/close.png);
    background-color: transparent;
    color: transparent;
    border: none;
    height: 27px;
    width: 26px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }
  input {
    display: block;
    margin: 0 auto;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 30px;
    border: 1px solid #b8b8b8;
    padding: 8px 25px;
    font-size: 15px;
    color: #747474; 
    width: 100%;
    max-width: 300px;
    &.error {
      border: 1px solid red;
    }
    &:focus {
      outline: none;
      border: 1px solid #364953;
    }
    &[type="submit"] {
      background-color: #455e6a;
      font-size: 17px;
      color: #fff;
      cursor: pointer;
    }
  }
    .mid {
      background-color: #e5eaed;
      padding: 2.5px;
    }  
    #enter-popup {
      input {
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 30px;
        border: 1px solid #b8b8b8;
        padding: 8px 25px;
        font-size: 15px;
        color: #747474; 
        width: 100%;
        max-width: 300px;
        &:focus {
          outline: none;
          border: 1px solid #364953;
        }
        &[type="submit"] {
          background-color: #455e6a;
          font-size: 17px;
          color: #fff;
          cursor: pointer;
        }
      }
      .forgot {
        font-size: 12px;
        color: #455e6a;
        text-align: right;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 300px;  
        cursor: pointer;      
      }
    }    
}

.hidden {
  display: none;
}

.error {
    display: block;
    margin: 0 auto;
    color: red;
    font-size: 12px;
    width: 100%;
    max-width: 300px;  
    padding-left: 10px;
}

