// header

.page-wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.top-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0 14px;
  z-index: 5; }

.logo-top {
  width: 205px;
  float: left; }
  .logo-top img {
    display: block;
    width: 100%; }

.right-align {
  float: right; }

.top-nav {
  float: left;
   }
  .top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  .top-nav li {
	  float: left;
    margin: 25px 15px;
    background: transparent;
    border-radius: 45px;
    border: 2px solid #e6d0d5;
    transition: .3s;
    &:hover {
	background: #fff;
	border: 2px solid #fff;
	transition: .3s;
    	}
    }
  .top-nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    padding: 4px 42px 7px;
    color: #fff;
    &:hover {
		color: #575757;
    }
	}

.mobile-menu {
  display: none;
  position: relative;
  float: right;
  width: 25px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;}
  .mobile-menu span {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 3px;
    background: #fff; }
  .mobile-menu span:before,
  .mobile-menu span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: ''; }
  .mobile-menu span::before {
    top: -8px; }
  .mobile-menu span::after {
    bottom: -8px; }
  .mobile-menu.active span {
    background: transparent; }
  .mobile-menu.active span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .mobile-menu.active span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
