// main_screen

.main_screen {
	background-image: url(../img/main_bckgr.png);
	width: 100%;
	height: 806px;
  position: relative;
  .title {
  	position: relative;
  	z-index: 1;
  	img {
     display: block;
     margin: 0 auto;
     padding: 14% 20% 55px;
     width: 100%;	
   }
 }
 .particles_header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.offert {
 display: block;
 margin: 0 auto;
 max-width: 960px;
 ul {
   padding: 0;
   li {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;

  }
}
}

.scroll {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 45px;
  display: block;
  color: #fff;
  text-align: center;
  transition: .5s;
  cursor: pointer;
  img{
    margin: 10px 0 0 0;
  }
  &:hover {
    opacity: .7;
    transition: .5s;
  }
}
}


// carousel

.carousel {
  height: 175px;
  .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
    text-transform: uppercase;
    img {
      position: absolute;
      margin-left: -47px;
      margin-top: 2px;      
    }
    h2 {
      font-weight: 600;
      color: $mainColor;
    }
  }
  .carousel-inner {
      overflow: hidden;
      max-width: 800px;
      display: block;
      margin: 0 auto;
      text-align: center;
      display: inline;
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;      
  }
  ul {
     li {
      list-style: none;
      display: inline-block;
      &.pr_t {
        font-size: 24px;
        font-weight: 600;
        color: $mainColor;
      }
    }  
  }
  .price {
    background-image: url(../img/color.png);
    width: 132px;
    background-repeat: no-repeat;
    text-align: center;
    height: 51px;
    color: $mainColor;
    .pr {
      background-color: #fff;
      padding: 0;
      border-radius: 28px;
      margin: 4px 3px;
      display: block;
      width: 125px;
      font-size: 30px;
    }
  }
}

// partnership 

.partnership {
  background-image: url(../img/bckg_middle.png);
  width: 100%;
  height: 486px;
  position: relative;
  .left {
    width: 50%;
    height: 486px;
    float: left;
    background: linear-gradient(to top, rgba(13,46,66,.53), rgba(228,145,160,.53));
    .trafled {
      color: #fff;
      font-size: 42px;
      float: right;
      margin-top: 212px;
      margin-right: 133px;
      font-weight: 600;      
    }

  }
  .right {
    width: 50%;
    float: right;
    background-color: rgba(80,102,117,.53);
    height: 486px;
    .partn_text {
      color: #fff;
      font-size: 20px;
      float: left;
      margin-top: 195px;
      margin-left: 133px;        
    }
  }
  .hands {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    margin-top: -42px;    
  }
  .particles_partnership {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 486px;
  }
}

// submition

.submition {
    height: 569px;
    width: 100%;
    background-image: url(../img/bot.png);
    position: relative;
    background-repeat: no-repeat;
  .particles_submition {
    position: absolute;
    z-index: 1;
    opacity: .4;
    height: 571px;
    width: 100%;    
    top: 0;
  }
  h2 {
      font-size: 35px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      padding-top: 87px;
      padding-bottom: 126px;
    }
  .subm_service {
    display: block;
    color: #fff;
    li {
      list-style: none;
      text-align: center;
      font-size: 20px; 
      img{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
}

// pre_footer

.pre_footer {
  background: #31646F;
  width: 100%;
  height: 300px;
  position: relative;
  h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    font-weight: 600;
    font-size: 35px;
  }
  img {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
