@media screen and (max-width: 1040px) {
  .mobile-menu {
    display: block; }
    .mobile-menu + .top-nav {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: rgba(255,255,255,.1);
      z-index: 10;
      width: 50%; }
      .mobile-menu + .top-nav li {
        float: none;
        margin: 0;
        padding: 10px;
        border: none;
        &:hover {
          background: none;
        } 
        a {
          color: #fff;
        }
      }
      .mobile-menu + .top-nav a span {
        left: auto;
        right: 0; }
        .mobile-menu.active + .top-nav {
          display: block; } 




        }


@media screen and (max-width: 769px) {
  .main_screen{
    .offert {
      max-width: 100%;
      ul {
        li {
          font-size: 12px;
        }
      }
    }
    .title img {
      padding: 125px 20px 25px;  
    }  
  }

}
@media screen and (max-width: 470px) {

  .mobile-menu + .top-nav {
    width: 100%; 
  }
}


@media screen and (max-width: 360px) {
.main_screen {
  .offert {
      ul {
        li {
          font-size: 10px;
        }
      }
    }
}
  }
       